[alias]
    l = log --graph --decorate --all
    lpull = log @{1}..
    ll = log --graph --decorate --all --stat
    oneline = log --oneline --graph --decorate --abbrev-commit
    mas = log --oneline --graph --decorate --left-right master...origin/master
    who = shortlog -sne
    s = status
    stqtus = status
    co = checkout
    d = diff
    dpull = diff @{1}..
    dc = diff --cached
    dcw = diff --cached --ignore-space-at-eol -b -w --ignore-blank-lines
    merge = merge --no-ff
    current = rev-parse --abbrev-ref HEAD
    res = reset --hard
    p = push
    c = !git current
    com = commit -m
    coma = commit -a -m
    dw = diff --ignore-space-at-eol -b -w --ignore-blank-lines

[user]
    name = Rémi Weng
    email = ixartz@users.noreply.github.com

[color]
    ui = true

[color "branch"]
    current = green bold
    local = green
    remote = yellow

[color "status"]
    added = green reverse
    changed = yellow reverse
    untracked = red reverse

[init]
    defaultBranch = main

[push]
    followTags = true

[pull]
    ff = only
    default = current

[branch]
    sort = committerdate

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    hunk-label =
    plus-style = syntax "#004800"
